<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partial/meta.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Home page file</h1>
    <%- include('../partial/data.ejs')%>
  </body>
</html>
