<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partial/meta.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <h1>This is index file</h1>
    <a href="/downlond">Download this file</a>
    <%- include('../partial/data.ejs')%>
  </body>
</html>
